.user-info, .cycle-info {
  margin-bottom: 30px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info h2 {
  text-transform: capitalize;
}

.user-info div {
  margin: 5px 0;
  font-size: 20px;
}

.user-info img.round {
  border-radius: 50%;
  border: 5px solid var(--secondary);
}

.cycle-info .sub-header{
  background: var(--header-background);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.cycle-stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--header-background);
  padding: 15px 0;
  background: var(--overlay);
}

.cycle-stats .card {
  border: 2px solid black;
  min-width: 30%;
}

.cycle-stats .card-header {
  background: var(--header-background);
  padding: 8px;
  text-align: center;
  font-weight: bolder;
  color: var(--white);
}

.cycle-stats .card-body {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}



