.LandingPage {
  background: url('./landing-page-bg-1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.LandingPage section {
  height: 100vh;
}

.LandingPage #above-the-fold {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.hero h1 {
  font-size: 50px;
  font-weight: 600;
}

.hero h1.small {
  font-size: 27px;
  letter-spacing: 2px;
  margin-top: -8px;
  margin-bottom: -8px;
  text-transform: uppercase;
}

.LandingPage .details {
  margin-top: 20px;
  max-width: 658px;
}

.LandingPage .details p {
  font-size: 20px;
  font-weight: 500;
}

.LandingPage .details span {
  font-size: 30px;
  font-weight: 500;
  color: var(--primary);
}

.LandingPage .details p:nth-child(1) {
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  max-width: 900px;
  margin-top: 120px;
  /* padding-bottom: 2px; */
}

.cta-buttons a {
  width: 100%;
}

.cta-buttons button {
  border: 1px solid var(--white);
  background: var(--background);
  padding: 20px 32px;
}

@media only screen and (min-device-width: 568px) {
  .cta-buttons a {
    margin-right: 20px;
  }
}