.LandingPage section {
  min-height: 100vh;
}

.LandingPage #above-the-fold {
  background: url('./landing-page-bg-1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin-top:0;
}

.hero h1 {
  font-size: 50px;
  font-weight: 600;
}

.hero h1.small {
  font-size: 27px;
  letter-spacing: 2px;
  margin-top: -8px;
  margin-bottom: -8px;
  text-transform: uppercase;
}

.LandingPage .details {
  margin-top: 20px;
  max-width: 658px;
}

.LandingPage .details p {
  font-size: 20px;
  font-weight: 500;
}

.LandingPage .details span {
  font-size: 30px;
  font-weight: 500;
  color: var(--primary);
}

.LandingPage .details p:nth-child(1) {
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  width: 100%;
  max-width: 900px;
  margin-top: 120px;
}

.cta-buttons a {
  width: 100%;
}

.cta-buttons button {
  border: 1px solid var(--white);
  background: var(--background);
  padding: 20px 32px;
}

@media only screen and (min-device-width: 568px) {
  .cta-buttons a {
    margin-right: 20px;
  }
}

.LandingPage section {
  display: flex;
  padding: 30px;
  margin-top:30px;
  margin-bottom: 30px;
}

.LandingPage section .section-header {
  flex: 1;
}

.LandingPage section .section-header h2 {
  font-size: 2.5em;
}

.LandingPage section .section-content {
  flex: 2;
}

.LandingPage section .section-content p {
  margin-bottom: 30px;
  line-height: 22px;
  font-size: 20px
}

.LandingPage section .section-content h4 {
  font-size:22px;
}

.LandingPage aside {
  height: 50vh;
  background: url('./quote-aside-bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

aside .quote  {
  font-size: 1.7em;
  margin: 0 45px;
  font-weight: bold;
  font-style: italic;
}

aside .quote::before {
  content: '\201C';
}

aside .quote::after {
  content: '\201D';
}

section#cta {
  height: 75vh;
}

@media only screen and (max-device-width: 568px) {
  .LandingPage section {
    flex-direction: column;
  }

  .LandingPage section .section-header {
    flex: 0;
    margin-bottom: 30px;
  }
  
  .LandingPage section .section-header h2 {
    font-size: 2em;
  }
  
  .LandingPage section .section-content {
    flex: 0;
  }
}

