.app {
  position: relative;
  min-height: 100%;
}

ul {
  list-style: none;
}

.app-main {
  max-width: 1000px;
  margin: 0 auto;
}

#page-wrap{
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
  margin-top:69px;
}




