.app {
  position: relative;
  min-height: 100%;
}

ul {
  list-style: none;
}

.app-main {
  margin: 0 auto;
}

#page-wrap{
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
  margin-top:69px;
}

.auth-error {
  padding: 25px;
  margin: 25px;
  background: var(--overlay);
  font-size: 1.3em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auth-error > * {
  margin-bottom: 10px;
}