.WorkoutListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  background: var(--background);
  border-bottom: 2px solid var(--black);
  padding: 10px;
  min-height: 80px;
  font-size: 23px;
  text-align: center;
}

.workout-day, .workout-status {
  flex: 1;
}

.workout-type {
  flex: 3;
}

.WorkoutListItem.completed i {
  color: var(--primary)
}

.WorkoutListItem.rest-day i {
  color: var(--background)
}

.WorkoutListItem.active {
  background: var(--overlay);
}

.workout-day, .workout-type, .workout-subtype {
  width: 100%;
  text-transform: uppercase;
}