.workout-day-header {
  min-height: 40px;
  font-size: 18px;
  background: var(--background2);
  display: flex;
  align-items: center;
  font-weight: bolder;
  color: var(--primary);
  padding-left: 10px;
  font-style: italic
}

.workout-sub-nav{
  display: flex;
}

.workout-sub-nav .button {
  background: var(--overlay);
  color: var(--background);
}

.workout-sub-nav .button.tabActive {
  color: var(--white);
  border: 2px solid var(--secondary);
}

.workout-focus {
  font-size: 20px;
  line-height: 1.3em;
  color: var(--white);
}

.WorkoutPage section {
  padding: 25px;
}

.workout-group {
  margin: 20px 0;
  font-size: 20px;
  line-height: 1.3em;
  color: var(--white);
}

.workout-group h3{
  color: var(--primary)
}

section .workout-group:nth-child(1) {
  margin-top: 0px;
}

.mark-complete {
  margin-top: 30px;
}