header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.app-header nav {
  border: 1px solid black;
  padding: 10px;
  background-color: #2d3436;
}

.logo {
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;
  font-weight: bolder;
  color: white;
}